@{
    ViewData["Title"] = "Kullanıcı Sayfası";
}
<head>
    <link rel="stylesheet" href="~/css/Pages.css" />
</head>
<a class="btn btn-sm btn-primary text-light" controller="Users" action="Add">Kullanıcı Ekle</a>
<div class="container">
    <div class="content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Okul Numarası</th>
                    <th>Soyisim</th>
                    <th>Telefon</th>
                    <th>E-mail</th>
                    <th>Adres</th>
                </tr>
            </thead>
            <tbody>
                @foreach (User user in ViewBag.users)
                {
                    <tr>
                        <td>@user.IdNumber</td>
                        <td>@user.FullName</td>
                        <td>@user.Faculty</td>
                        <td>@user.Department</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.Email</td>
                        <td>
                            <a class="btn btn-link" href="/Users/Update/@user.Id">Kullanıcıyı Düzenle</a>
                            <a class="btn btn-link" href="/Users/Delete/@user.Id">Kullanıcıyı Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

